VIGILO_POSTGRES_PASSWORD=replace-with-a-long-random-password
VIGILO_DATABASE_URL=postgres://vigilo:replace-me@localhost:5432/vigilo
VIGILO_STORAGE_PATH=./storage/recordings
VIGILO_LOG_LEVEL=info
VIGILO_RECORDING_SEGMENT_SECONDS=60
VIGILO_API_HOST=0.0.0.0
VIGILO_API_PORT=3000
VIGILO_MEDIA_URL=http://vigilo-media:3010
VIGILO_MEDIA_BIND=0.0.0.0:3010
VIGILO_API_BIND=127.0.0.1
VIGILO_WEB_BIND=127.0.0.1
VIGILO_TRUST_PROXY=false
